<template>
    <div>
        <h3 class="text-center">Add Note</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addNote">
                    <div class="form-group">
                        <label>Deadline</label>
                        <input type="text" class="form-control" v-model="note.date">
                    </div>
                    <div class="form-group">
                        <label>Task</label>
                        <input type="text" class="form-control" v-model="note.Todo">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Note</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                note: {}
            }
        },
        methods: {
            addNote() {

                this.axios
                    .post('http://homestead.test/api/notes/create', this.note)
                    .then(response => (
                        this.$router.push({name: 'home'})
                        // console.log(response.data)
                    ))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>