<template>
    <div>
        <h3 class="text-center">All Notes</h3><br/>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Deadline</th>
                <th>Tasks</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="notes in notes" :key="notes.id">
                <td>{{ notes.id }}</td>
                <td>{{ notes.name }}</td>
                <td>{{ notes.author }}</td>
                <td>{{ notes.created_at }}</td>
                <td>{{ notes.updated_at }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: notes.id }}" class="btn btn-primary">Edit
                        </router-link>
                        <button class="btn btn-danger" @click="deleteNote(notes.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                notes: []
            }
        },
        created() {
            this.axios
                .get('http://homestead.test/api/notes')
                .then(response => {
                    this.notes = response.data;
                });
        },
        methods: {
            deleteNote(id) {
                this.axios
                    .delete(`http://homestead.test/api/notes/delete/${id}`)
                    .then(response => {
                        let i = this.notes.map(item => item.id).indexOf(id); // find index of your object
                        this.notes.splice(i, 1)
                    });
            }
        }
    }
</script>