<template>
    <div>
        <h3 class="text-center">Edit Note</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateBook">
                    <div class="form-group">
                        <label>Deadline</label>
                        <input type="text" class="form-control" v-model="note.date">
                    </div>
                    <div class="form-group">
                        <label>Task</label>
                        <input type="text" class="form-control" v-model="note.task">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Note</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                note: {}
            }
        },
        created() {
            this.axios
                .get(`http://localhost:8000/api/book/edit/${this.$route.params.id}`)
                .then((response) => {
                    this.note = response.data;
                    // console.log(response.data);
                });
        },
        methods: {
            updateNote() {
                this.axios
                    .post(`http://localhost:8000/api/book/update/${this.$route.params.id}`, this.note)
                    .then((response) => {
                        this.$router.push({name: 'home'});
                    });
            }
        }
    }
</script>